<!DOCTYPE html>
<html>
<style>
td{
    border-style:solid;
    border-color: #96D4D4;
}
</style>
<body>
    <div>
        <img src = "/nid.jpg" alt = "nid profile picture" width = "200" height = "200" />
    </div>

    <div>
        <h1>NiDey Space</h1>
        <p>Hello! This is my profile </p>
    </div>

    <div display: flex; jusify-content: center;>
        <table>
            <tr>
                <td> Student ID </td>
                <td> 6331319921 </td>
            </tr>
            <tr>
                <td> Name </td>
                <td> Nichapa NIttayasittikun </td>
            </tr>
            <tr>
                <td> Nickname </td>
                <td> Nid </td>
            </tr>
            <tr>
                <td> Age </td>
                <td> 22 </td>
            </tr>
            <tr>
                <td> Faculty </td>
                <td> Engineering </td>
            </tr>
            <tr>
                <td> Major </td>
                <td> Computer </td>
            </tr>
        </table>
    </div>
</body>
</html>




